Redirect 301 /compatibility https://github.com/pbatard/rufus/wiki/FAQ#wiki-List_of_software_and_hardware_Rufus_isnt_compatible_with
Redirect 301 /translations https://github.com/pbatard/rufus/wiki/FAQ#wiki-What_languages_are_natively_supported_by_Rufus
Redirect 301 /translate https://github.com/pbatard/rufus/wiki/Localization#Editing_an_existing_translation
Redirect 301 /where_is_the_log https://github.com/pbatard/rufus/wiki/FAQ#wiki-I_contacted_you_but_all_I_got_was_a_link_to_this__why
Redirect 301 /not_detected https://github.com/pbatard/rufus/wiki/FAQ#wiki-Help_my_USB_drive_is_not_detected
Redirect 301 /FAQ https://github.com/pbatard/rufus/wiki/FAQ
Redirect 301 /test /downloads
Redirect 301 /translators /downloads
